In [1]:
# ============================
# Lab 5: Pivot Tables and Data Analysis
# ============================
#
# In this lab, you’ll practice using pivot tables to summarize and explore data.
# You’ll apply what you learned about grouping, aggregation functions,
# and lambda expressions to a brand-new dataset.
#
# You will practice:
# - Creating and reading pandas DataFrames
# - Summarizing data with pd.pivot_table()
# - Using multiple aggregation functions (mean, sum, count, etc.)
# - Writing custom lambda functions for flexible analysis
#
# Before starting, dont forget:
# import pandas as pd

# ----------------------------
# Part 1: Create a New DataFrame
# ----------------------------

# 1. Create a DataFrame called rentals using this data:
#
# Store | Genre | Month | Rentals | Revenue
#
# Store:   ['Downtown', 'Downtown', 'Uptown', 'Uptown', 'Suburb', 'Suburb', 'Downtown', 'Uptown']
# Genre:   ['Action', 'Comedy', 'Action', 'Romance', 'Comedy', 'Action', 'Romance', 'Comedy']
# Month:   ['January', 'January', 'February', 'February', 'January', 'February', 'February', 'January']
# Rentals: [120, 90, 150, 100, 70, 130, 80, 60]
# Revenue: [2400, 1800, 3000, 2000, 1400, 2600, 1600, 1200]
#
# Print the full DataFrame.
#
# (Each row represents how many movies of a given genre were rented
#  at a store during that month.)

In [ ]:
# ----------------------------
# Part 2: Basic Pivot Tables
# ----------------------------

# 2. Create a pivot table that shows the average revenue by store.
# Example:
# pd.pivot_table(rentals, values='Revenue', index='Store', aggfunc='mean')

# 3. Create a pivot table that shows the total rentals by genre.

# 4. Create a pivot table that shows total revenue by month
# with columns in order: January, February.
# Hint: use .reindex(columns=['January','February']) to control order.

In [9]:
# ----------------------------
# Part 3: Multiple Calculations
# ----------------------------

# 5. Create a pivot table that shows both the average and total revenue
# for each store using aggfunc=['mean','sum'].

# 6. Add a new column called "Profit" that equals Revenue * 0.75.
# Create a pivot table that shows total profit by store.

# 7. Create a pivot table that compares average rentals and revenue by genre
# using values=['Rentals','Revenue'].
rentals['Profit'] = rentals['Revenue']*.75

pivot_profit = pd.pivot_table(
    rentals, 
    values = ['Profit', 'Revenue'],
    index = 'Store', 
    aggfunc = 'sum'
)

pivot_profit

          Profit  Revenue
Store
Downtown  4350.0     5800
Suburb    3000.0     4000
Uptown    4650.0     6200

In [ ]:
# ----------------------------
# Part 4: Custom Lambda Functions
# ----------------------------

# 8. Use a lambda function to calculate the range of revenue (max - min)
# for each store.

# 9. Use a lambda function to count how many rows for each store
# had revenue above 2000.

# 10. Combine multiple lambdas: one for mean and one for range.

# 11. What patterns did you notice between genres, stores, and months?

# 12. How do pivot tables make it easier to answer questions about this dataset?

# 13. Which aggregation functions were most useful for understanding the data?

# 14. What could a movie-rental business learn from this kind of analysis?


# ----------------------------
# Challenge (Optional)
# ----------------------------

# 11. Add a new column "High Revenue" that says "Yes" if Revenue > 2000
# and "No" otherwise.

# 12. Create a pivot table that counts how many "Yes" per store.

# 13. Combine numeric summaries (mean/sum) with this new column
# to compare high-revenue months with averages.

In [4]:
import pandas as pd


rentals = pd.DataFrame({
    "Store": ['Downtown', 'Downtown', 'Uptown', 'Uptown', 'Suburb', 'Suburb', 'Downtown', 'Uptown'],
    "Genre": ['Action', 'Comedy', 'Action', 'Romance', 'Comedy', 'Action', 'Romance', 'Comedy'],
    "Month": ['January', 'January', 'February', 'February', 'January', 'February', 'February', 'January'],
    "Rentals": [120, 90, 150, 100, 70, 130, 80, 60],
    "Revenue": [2400, 1800, 3000, 2000, 1400, 2600, 1600, 1200]
})

# 10. Combine multiple lambdas: one for mean and one for range
combined_stats = rentals.groupby("Store")["Revenue"].agg(
    mean_revenue=lambda x: x.mean(),
    range_revenue=lambda x: x.max() - x.min()
)

combined_stats

          mean_revenue  range_revenue
Store
Downtown   1933.333333            800
Suburb     2000.000000           1200
Uptown     2066.666667           1800